:root {
  --darkest-color: #151426;
  --dark-color: #1D1C40;
  --main-color: #F26BDC;
  --second-color: #00C8FF;
  --light-color: #E0E0F6;
  --red-d-color: #FF5242;
  --yellow-d-color: #ffff1f;
  --green-d-color: #02ec4c;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--main-color);
  text-decoration: underline;
}

h2 {
  color: var(--main-color);
  margin-right: 10px;
}

h6 {
  color: var(--main-color);
  font-size: 0.8rem;
  margin: 0 10px;
}

#content {
  display: flex;
}

/* Sidebar */
#sidebar {
  background-color: var(--darkest-color);
  width: 22.5vw;
  padding: 25px 0;
  padding-left: 25px;
}

#projectsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

#newProject {
  background: none;
  border: none;
  color: var(--main-color);
  font-size: 1.3rem;
}

.sidebarBtn {
  background: none;
  border: none;
  border-radius: 10px;
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  margin-left: -10px;
  transition: 0.15s;
}

.sidebarBtn:hover {
  background-color: var(--dark-color);
}

#mainControls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#mainControls h1 {
  margin-bottom: 10px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newProjectForm {
  background-color: var(--dark-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.hideProjectField {
  display: none;
}

#newProjectTxt {
  background-color: var(--darkest-color);
  border: none;
  font-size: 1.2rem;
  color: var(--light-color);
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 210px;
}

#projectsDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newProjectForm button {
  background-color: var(--darkest-color);
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--main-color);
  padding: 5px 0;
}

#projects button {
  white-space: nowrap;
}

/* Main content */
#tasks {
  background-color: var(--dark-color);
  width: 77.5vw;
  min-height: 100vh;
}

nav {
  background-color: var(--darkest-color);
  border-radius: 100px;
  position: fixed;
  top: 20px;
  right: 5vw;
  width: 67.5vw;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search i {
  color: var(--main-color);
  position: relative;
  margin-right: -35px;
}

#searchbar {
  background-color: var(--dark-color);
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  padding-left: 40px;
  color: var(--main-color);
  font-size: 1.2rem;
}

#sorting label {
  color: var(--main-color);
  font-size: 1.05rem;
  font-weight: bold;
  margin-right: 5px;
}

#sorting select {
  background-color: var(--dark-color);
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: var(--main-color);
  font-size: 1.05rem;
  appearance: none;
}

/* Task styling */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

#header button {
  background-color: var(--darkest-color);
  border: none;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-color);
  padding: 10px 25px;
}

#taskList {
  margin: 0 5vw;
  margin-top: 125px;
}

.taskItem {
  background-color: var(--darkest-color);
  border-radius: 5px;
  margin: 15px 0;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newTask {
  background-color: var(--darkest-color);
  margin: 15px 0;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
}

.hideTaskField {
  display: none;
}

.newTask div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#newTaskTxt {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 15px;
}

#newTaskDate,
#newTaskPriority,
#newTaskProject,
#newTaskBtn {
  background-color: var(--dark-color);
  color: var(--main-color);
  border: none;
  border-radius: 2px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 15px;
}

#newTaskDate {
  padding: 7px 5px;
}

#newTaskPriority {
  padding: 7px 15px;
}

#newTaskProject {
  padding: 7px 15px;
}

#newTaskBtn {
  padding: 7px 25px;
}

.taskItemL {
  display: flex;
  align-items: center;
}

.taskItemR {
  display: flex;
  align-items: center;
}

#taskList p {
  color: var(--light-color);
  font-size: 1.2rem;
  margin-left: 15px;
  word-break: break-all;
}

#taskList i {
  color: var(--main-color);
  align-self: flex-end;
}

.deleteBtn {
  background: none;
  border: none;
}

.taskDoneBtn {
  background-color: var(--darkest-color);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.prior1 {
  border: 3px solid var(--red-d-color);
}

.prior2 {
  border: 3px solid var(--yellow-d-color);
}

.prior3 {
  border: 3px solid var(--green-d-color);
}

.taskDone {
  border: 3px solid var(--dark-color);
}

.taskComplete {
  text-decoration: line-through;
}